/* colors */

$purple: rgb(122, 15, 194);
$gray: rgb(146, 146, 146);
$dark-gray: rgb(92, 92, 92);


$lt-radio-border-color: rgba(0, 0, 0, 0.54);
$lt-radio-size: 20px;
$lt-radio-checked-size: 10px;
$lt-radio-ripple-size: 15px;

/* box shadow */
$box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.2);
$box-shadow-purple: 2px 1px 7px 4px rgba(54, 8, 80, 0.4);