@import '../../styles/config.scss';

.lt-letters {
    width: 100%;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all .4s ease;
    color: $dark-gray;

    &--active {
        box-shadow: $box-shadow-purple;
    }

    &__letter {
        font-size: 26px;
        min-width: 100px;
        font-weight: bold;
        text-align: center;
        padding: 15px;
        transition: all ease .2s;

        &--hit {
            color: green;
        }

        &--miss {
            color: red;
        }
    }
}